html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;

  /*background-color:#0d8fa7;*/
  background-image: url("images/background.jpg");
  background-size: cover;
  background-color: #cccccc;

      font-family: Arial, Helvetica, sans-serif;
    }

#topbar{
 font-family: 'RocknRoll One', sans-serif;
 text-shadow: 2px 0px 3px white;
 margin:auto;
 margin-top:50px;
 color:#FFF;
 font-size:40px;
 text-align: center;
 background-color:rgb(136, 78, 202);
 border-radius: 15px;
 width: 400px;
}

.spacer{height:30px;}


#gameContent{
    margin:auto;   
    height:400px;
    position:relative;
    overflow:hidden;
    background-color:hsl(268, 54%, 55%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#gameTitle{
 margin-top:100px;
 font-family: 'RocknRoll One', sans-serif;
 text-align:center;
 font-size:50px;
 color:#fff;
}

.button{
 font-size:15px;
 width:100px;
 cursor:pointer;
 border:solid 1px white;
 border-radius:4px;
 text-align:center;
 color:#fff;
}

.button:hover{
 background-color:#6AB0FD;
}

#replay{
 margin-left:0px;
}

#wordHolder{
    display: flex;
    justify-content: space-around;
}
 
#clueHolder{
 color: #fff;
 font-size: 28px;
 margin-left: 1%;
 text-align: center;
 font-family: 'RocknRoll One', sans-serif;
}
 
#guesses{
 color: #fff;
 font-size: 28px;
 font-family: 'RocknRoll One', sans-serif;
}
 
#pixHolder{
 margin-left:30px;
 width:75px;
 float:left;
 overflow:hidden;
}
 
#pixHolder img{
 position:relative;}
 
#feedback{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 margin: 3px;
 font-size:large;
 color:#fff;
}

#feedback h2 {
    font-size: 30px;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}
 
.tile{
 height:40px;
 width:40px;
 margin-right:10px;
 background-color:white;
 text-align:center;
 font-size:24px;
 color:#333;
 padding-top:5px;
}
 
#finalMessage{
 text-align:center;
 font-size:40px;
 color:#fff;
 width:90%;
 margin:auto;
 margin-top:100px;
}

#dummy{
 position:absolute;
 left:-200px;
 top:0px;
}

@media screen and (max-width:768px) {

    .tile{
        height:32px;
        width:32px;
        font-size:14px;
        padding-top: 3px;
    }

    #gameTitle {
        font-size: 45px;
    }

    /* #feedback h2 {
        font-size: 30px;
    } */
 
}

@media screen and (max-width:560px) {
    .tile{
        height:24px;
        width:24px;
        font-size:14px;
        padding-top: 2px;
    }

    #topbar {   
        width: 300px;
        font-size: 28px;
    }

    #clueHolder{
        font-size: 20px;
    }
 
    #guesses{
        font-size: 20px;
    }

    #gameTitle {
        font-size: 40px;
    }

    /*#pixHolder{
        margin-top:50px;
        margin-left:10px;
        position:absolute;*/
    }

    /* #feedback h2{
        font-size: 20px;
    } */

    #finalMessage{
        font-size:30px;
    }